header{
    background: #FFD8ED;
}
.Mainrow{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 5%;
    padding: 20px;
}

.heading{
    width: 95%;
}

.Logo{
    height: 75px;
    width: 75px;
    left: 32px;
    top: 22px;
}


strong{
    color: #E175A2;
}

h1{
    text-align: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.03em;
    line-height: 110px;
}

.navbar{
    list-style-type: none;
    overflow: hidden;
    background: #FFEAFA;
}

.navbar a{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.075em;
    text-decoration: none;
    color: #000000;
}

.navbar a:hover{
    background-color: #E175A2;
    color: #FFEAFA;
}

.fa-spotify{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.26);
    padding: 10px;
}

.button{
    background-color: #FFD8ED;;
    padding: 10px;
    text-decoration: none;
    border-radius: 50px;
    color: black;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.button:hover{
    color: #E175A2;
}

.col1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.container{
    padding: 50px;
    margin-top: 100px;   
}

h2{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #E175A2;
}

p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;  
    color: #000000;
}

h4{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

footer{
    background: #E175A2;
    text-align: center;
    padding: 3px;
}

